.App {
  text-align: center
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  display: inline-block;
  margin: 5px;
  padding: 6px;
  border-radius: 5px;
  background-color: #666666;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: auto;
}

button:hover {
  background-color: #555;
}

input[type="text"], textarea {
  padding: 5px;
  border-radius: 5px;
  border: 5px solid #41487a;
  width: 200px;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus, textarea:focus {
  border-color: #7d809b;
}

select {
  display: inline-block;
  margin: 5px;
  padding: 6px;
  border-radius: 5px;
  background-color: #666666;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: auto;
}

